
$moss-green: #5b873c;
$peacock-blue: #006990;
$navy-blue: #00274c;
$greyish-brown: #4d4d4d;

$light-khaki: #f7eac3;
$cloudy-blue: #aec2cb;
$lichen: #abba8c;
$white: #eeeeee;
$black: #2c1e1d;
$off-white: #f7f6ed;
$very-light-grey: #d9d9d9;
$ice-blue: #eff3f5;
$brown: #5b3a23;
$light-blue-grey: #c7d8df;
$brown-grey: #7e7e7e;

