
@font-face {font-family: 'Adelle-SemiBoldItalic';src: url('../fonts/adelle-semibold.eot');src: url('../fonts/adelle-semibold.eot?#iefix') format('embedded-opentype'),url('../fonts/adelle-semibold.woff2') format('woff2'),url('../fonts/adelle-semibold.woff') format('woff'),url('../fonts/adelle-semibold.ttf') format('truetype');}


@font-face {font-family: 'PFDINDisplayPro-Bold';src: url('../fonts/pfdin-displaypro-bold.eot');src: url('../fonts/pfdin-displaypro-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/pfdin-displaypro-bold.woff2') format('woff2'),url('../fonts/pfdin-displaypro-bold.woff') format('woff'),url('../fonts/pfdin-displaypro-bold.ttf') format('truetype');}


@font-face {font-family: 'PFDINDisplayPro-Regular';src: url('../fonts/pfdin-displaypro-regular.eot');src: url('../fonts/pfdin-displaypro-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/pfdin-displaypro-regular.woff2') format('woff2'),url('../fonts/pfdin-displaypro-regular.woff') format('woff'),url('../fonts/pfdin-displaypro-regular.ttf') format('truetype');}

